@charset "UTF-8";
@media screen and (max-width: 768px) {
  h2 {
    max-width: 960px;
    /* margin: 0 auto; */
    margin-bottom:15px;
  }
.headcontainer {
  width:100%;
  margin:auto;
  padding:auto;
}
  /*--ヘッダー--*/
/* marginの値をレスポンシブ設定でautoに変更 */
  .siteIcon h1 {
    float: left;
    margin: 0 auto;

  }
/* marginの値をレスポンシブ設定でautoに変更 */
  .nav ul {
    padding: 0 16%;
    margin: 0 auto;
    float:left;

  }
  .nav li {
    margin-top:0px;
  }
  /*--ヘッダーend--*/

  /*--servicesー--*/
  div.services {
    text-align: center;
  }
  /*--skillsー--*/

  .inner3 {
    max-width: 800px;
    margin: auto auto 60px;
    width: 100%;
  }

  .skills > div {
    font-size: 14px;
    margin: 0 35px;
    flex: 1px 1px;
  }

  /*--about--*/
  .about p {
    text-align: left;
  }

  /* about.html */
  .container {
    width: 100%;
   /* max-width: 1332px; */
    padding: 0 3px;
    margin: 0 auto;
    /* margin: 0 auto; */
  }
/* .aboutcontainer {
  text-align: left;
  width:100%;
  margin: 0 auto;
} */

/* .aboutcontainer p {
  text-align: left;
  margin: 0 10px;
}
.aboutcontainer .table{
  text-align: left;
  margin: 0 0;
  width:100%;
} */

  .table {
   display: flex;
   margin-bottom: 20px;
   font-size: 15px;
  }

  .table dl {
   flex-wrap: left;
   width: 1330px;
  }

  .table dt {
   font-weight: bold;
   float: left;
   width: 50px;
   margin: 0 auto;
   text-align: left;
  }

  .table dd {
   display: flex;
   flex-wrap: left;
  }

  /* works.html */
  .works-work-item h3 {
   margin: auto;
  }

  .works-work-item p {
   margin: 0 0 65px 0;
  }
}
